@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


section {
    background: rgb(20, 20, 20);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-card {
    width: 40vh;
    border-radius: 10px;
    background: rgb(36, 36, 36);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-card img {
    width: 35%;
    border-radius: 100%;
    margin-bottom: 10px;
}

.social-card h2 {
    color: whitesmoke;
    font-family: "Inter";
    font-weight: 500;
    margin-bottom: 5px;
}


.social-card .social-location {
    margin-top: 5px;
    color: #CCE96B;
    font-family: "Inter";
    font-weight: bold;
    margin-bottom: 30px;
}


.social-card .social-description {
    color: whitesmoke;
    margin-bottom: 15px;
}

.social-btn {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: rgb(72, 69, 69);
    transition: all 0.3s ease-in;
}

.social-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-family: "Inter";
    color: whitesmoke;
    font-weight: 600;
}

.social-btn:hover {
    background: #C4F82A;

    & a {
        color: black;
    }
}